<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} %-5level [%t] %c - %msg%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="org.tajiro" level="debug" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
        <!-- log4jdbc: 실행 SQL 로그 -->
        <Logger name="jdbc.sqlonly" level="debug" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
        <Logger name="jdbc.resultsettable" level="warn" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
        <Logger name="jdbc.audit" level="warn" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
        <Logger name="jdbc.connection" level="warn" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
        <Logger name="log4jdbc.log4j2" level="warn" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
        <!-- log4jdbc 는 로거 이름이 버전마다 달라서, Root 를 warn 으로 두어 확실히 막는다.
             org.tajiro 는 위에서 additivity="false" 로 따로 잡혀 있어 영향받지 않는다 -->
        <Root level="warn">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>
