<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.tajiro.policy.mapper.PolicyMapper">

    <select id="get" resultType="PolicyVO">
        SELECT DISTINCT p.*
        FROM policy p
                 JOIN policy_target_region ptr
                      ON p.id = ptr.policy_id
        WHERE p.id = #{id}
          AND ptr.sgg_code = #{region}
          AND (
              (p.min_age = 0 AND p.max_age = 0)
              OR (
                  p.min_age <![CDATA[ <= ]]> #{age}
                  AND p.max_age <![CDATA[ >= ]]> #{age}
              )
          )
    </select>


    <select id="getList" resultType="PolicyVO">
        SELECT DISTINCT p.*
        FROM policy p
        JOIN policy_target_region ptr
        ON p.id = ptr.policy_id
        WHERE ptr.sgg_code = #{region}
        AND (
            (p.min_age = 0 AND p.max_age = 0)
            OR (
                p.min_age <![CDATA[ <= ]]> #{age}
                AND p.max_age <![CDATA[ >= ]]> #{age}
            )
        )

        <if test="keyword != null and keyword != ''">
            AND (
            p.title LIKE CONCAT('%', #{keyword}, '%')
            OR p.apply_method LIKE CONCAT('%', #{keyword}, '%')
            OR p.required_documents LIKE CONCAT('%', #{keyword}, '%')
            )
        </if>

        ORDER BY p.id DESC
    </select>

</mapper>
